.encounter-name {
  padding-bottom: 3em;
}

.animate-damaging {
  animation: damage 0.5s;
}

.animate-attacking {
  animation: attack 0.5s;
}

.animate-idle-flying {
  animation: flying 1.2s ease infinite;
}

.animate-idle-standing {
  animation: standing 2s linear infinite;
}

@keyframes damage {
  0% {
    transform: rotate(3deg);
  }
  25% {
    filter: grayscale(1) drop-shadow(-2px 2px 5px black);
    opacity: 0.8;
  }
  50% {
    filter: grayscale(0.3) drop-shadow(-2px 2px 5px black);
  }
}

@keyframes attack {
  0% {
    transform: scale(1.1);
  }
}

@keyframes flying {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translateY(3px);
    filter: drop-shadow(-2px 2px 4px black);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes standing {
  50% {
    transform: translateX(2px) rotate(1deg);
  }
}
