.dungeon-container.animate-damaging {
  animation: shake-damage 0.4s;
}

@keyframes shake-damage {
  0% {
    transform: translate(0, 0);
    filter: brightness(1);
  }
  25% {
    transform: translate(-1px, 0);
    filter: brightness(0.8);
  }
  50% {
    transform: translate(1px, 0);
    filter: brightness(0.9);
  }
  75% {
    transform: translate(-1px, 0);
    filter: brightness(0.8);
  }
}
