.dungeon-container.animate-damaging {
  animation: characer-damage 0.4s ease-out;
}

.dungeon-container.animate-critical-damaging {
  animation: character-critical-damage 0.4s;
}

@keyframes characer-damage {
  0%{
    box-shadow: 0 0 250px rgba(200, 0, 0, 0.7) inset;
  }
  100%{
    box-shadow: 0 0 0 rgba(200, 0, 0, 0.3) inset;
  }
}

@keyframes character-critical-damage {
  0% {
    transform: translateY(0);
    filter: brightness(1);
    box-shadow: 0 0 250px rgba(200, 0, 0, 0.7) inset;
  }
  25% {
    transform: translateY(-4px);
    filter: brightness(0.8);
  }
  50% {
    transform: translateY(4px);
    filter: brightness(0.9);
  }
  75% {
    transform: translateY(-4px);
    filter: brightness(0.8);
    box-shadow: 0 0 0 rgba(200, 0, 0, 0.3) inset;
  }
}
