.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 1.5em;
  width: 100%;
  min-height: 80px;
}

.item-icon {
  flex-grow: 0;
  flex-basis: 44px;
  flex-shrink: 0;
}

.item-content {
  flex-grow: 1;
  text-align: left;
}

.item-title {
  margin: 0;
}

.item-subtitle {
  margin: 0 0 0.5em 0;
  font-size: x-small !important;
}

.item-description {
  margin: 0;
  margin-top: 4px;
  font-size: xx-small !important;
  line-height: 18px !important;
}
