.icon-button {
  color: #d27d2c;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 4rem;
}

.icon-button:disabled {
  color: #999;
}

@media (hover: hover) {
  .icon-button:hover {
    filter: drop-shadow(-1px 0 #d27d2c) drop-shadow(1px 0 #d27d2c)
      drop-shadow(0 -1px #d27d2c) drop-shadow(0 1px #d27d2c);
  }
  /* disabled */
  .icon-button:disabled:hover {
    filter: drop-shadow(-1px 0 #999) drop-shadow(1px 0 #999)
      drop-shadow(0 -1px #999) drop-shadow(0 1px #999);
  }
}

.icon-button:active {
  color: #854c30;
}

.icon-button:disabled:active {
  color: #4e4a4e;
}

.icon-button.small {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-button.medium {
  width: 2rem;
  height: 2rem;
}

.icon-button.large {
  width: 3rem;
  height: 3rem;
}
