@keyframes lightning {
  from {
    filter: brightness(100%);
  }
  92% {
    filter: brightness(100%);
  }
  93% {
    filter: brightness(40%);
  }
  94% {
    filter: brightness(80%);
  }
  96% {
    filter: brightness(10%);
  }
  to {
    filter: brightness(100%);
  }
}

h1.main-title {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}

.button-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.button-menu button {
  width: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation: lightning ease-out 10s infinite; */
  animation-delay: 2s;
}
