.leaderboard-entry {
  flex-direction: row;
  column-gap: 1em;
  width: 80vw;
  margin-bottom: 0.5em;
}

.rank {
  font-size: larger !important;
}

.name {
  flex-grow: 1;
  min-width: 0;
  padding-left: 0.5em;
}

.name > p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name > p:first-of-type {
  font-weight: bold;
}

.name > p:last-of-type {
  font-size: smaller;
}
