.progress-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.light-progress-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hint-text {
  margin: 0;
  padding-left: 42px;
}

.light-hint-text {
  margin: 0;
  padding-left: 14px;
  font-size: x-small !important;
  line-height: 18px !important;
}
